  body{
    background-color:rgba(167, 112, 219, 0.63)

  }


  p{
    font-size:larger;
    color:rgb(125, 39, 146);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
  }


  h1, h2, h3, h4, h5, h6{
    color:rgb(66, 16, 102);
    font-size: 25px;
    text-align: center;
    font-style:inherit;
  }


 li{
    color:rgb(22, 2, 41);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
 }

 img{
    border-radius: 5%;
    border: 6px solid rgba(110, 41, 173, 0.349);
    padding: 2px;
    width: 360px;
    height: 200px;
 }

 .box{
    background-color: aqua;
    margin-top: 12%

 }
